# Default ignored files
Project/Lib/BitcoinApp/BitcoinApp.iml
.idea/
workspace.xml
Project/Lib/BitcoinApp/out/
Project/Dataset/*
Project/Lib/Dependencies/binance-exchange-api/
Projet/Lib/BitcoinApp/src/fxml/dashboard/LineChartWithHover.java
*.csv
*.json
*.zip
how_to_start_BitcoinApp.mkv
.gitignore

